<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dog Breed Classifier</title>
    <link href="static/img/dog.png" rel="icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color:#D13A43;">
        <a class="navbar-brand" href="#" style="font-size: 20px; font-weight:bold;">
          <img src="/static/img/dog.png" width="30" height="30" class="d-inline-block align-top" alt="">  Dog Breed Classifier</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link active" style="font-size: 20px; font-weight:bold;" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" style="font-size: 20px; font-weight:bold;" href="#" onclick="sendAlert()">Classification</a>
          </div>
        </div>
      </nav>
      <div class = "col-12" style="padding-top: 70px; padding-left: 90px; padding-right: 90px; padding-bottom: 0px; text-align: center;">
        <img src= "/static/img/bg.jpg" class = "card-img-top" style="width: 900px; height: 500px;">
      </div>
      <br><br>
      <div class = "col-12" style="padding-top: 0px; padding-left: 200px; padding-right: 200px; text-align: center;">
          <h1>CNN Project: Dog Breed Classifier<br></h1>
          <h3>   Choose an image of a dog or a human from your computer for the breed classification</h3>
       <br><br>
        <form action="{{ url_for('classification_from_file') }}" method="post" enctype="multipart/form-data" >
          <div class="form-group" style="justify-content: center;">
            <input type="file" class="form-control-file btn btn-primary" style=" background-color:  #fff; border: 2px solid  #D13A43;  width: 230px; height: max-content; color: #6C757D;" name="file" id="exampleFormControlFile1">
          </div>
          <br>
          <button type="submit" class="btn btn-outline-danger" style="font-size: 20px; font-weight:bold; border: 2px solid #D13A43;"  >Dog Breed Classified</button>
        </form>
      </div>
      <br><br>
      <footer class="footer footer-expand-lg  pt-3" style="background: #D13A43; color: #fff;">
            <div class="container text-center text-md-left">
          <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8">
              <p class="text-center text-md-left" style="font-size: 20px; font-weight:bold;"> Made With  <i class='bx bxs-heart bx-tada' style="color: #fff;"></i> By Amal Aljabri
              </p>
            </div>
            <div class="col-md-5 col-lg-4 ml-lg-0">
              <div class="text-center text-md-right">
                <ul class="list-unstyled list-inline">
                  <li class="list-inline-item">
                    <a href="https://github.com/AmalAljabri" title="GitHub">
                      <i class='bx-fw bx bxl-github bx-tada-hover'style="color: #fff;font-size: 20px; font-weight:bold;"></i>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://twitter.com/amal_aljabri1"  title="Twitter">
                    <i class='bx-fw bx bxl-twitter bx-tada-hover'style="color: #fff;font-size: 20px; font-weight:bold;"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://www.youtube.com/channel/UCo5YQBPpqqnN8gEDCFSs6rQ?view_as=subscriber"  title="Youtube">
                      <i class='bx-fw bx bxl-youtube bx-tada-hover'style="color: #fff;font-size: 20px; font-weight:bold;"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="http://linkedin.com/in/amal-aljabri"  title="LinkedIn">
                      <i class='bx-fw bx bxl-linkedin bx-tada-hover'style="color: #fff; font-size: 20px; font-weight:bold;"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </footer>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script>
      function sendAlert(){
        alert(" Choose an image! ");
      }
      
    </script>
  </body>
</html>